<html>
  <head>
    <title>Address Book
    </title>
  </head>
  <body>
    <h2>Add a contact:</h2>
  
      <form action='/contacts' method='post'>
        <label for='name'>Name</label>
        <input id='name' name='name' type='text'>
      </form>
      <button type="submit">Add</button>
  </body>
</html>
