<html>
  <head>
    <title>Contacts</title>
  </head>
    <body>
      <h3>List of contacts:</h3>
          <h2> {{add_contact.getName}} </h2>
        <form action="/" type="get">
        <button type="submit">Back</button>
      </form>
    </body>
</html>
