<html>
  <head>
    <title></title>
  </head>
    <body>
      {% if contact is not empty %}
        {% for contact in contact-list %}
        <li> <h3>{{contact.getName}} </h3> </li>
        {% endfor %}
      {% endif %}
        <form action='/' method='get'>
        <button type="submit">Back</button>
      </form>
    </body>
</html>
