<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts Removed</title>
  </head>

  <body>
    <h2>You've successfully cleared all of your contacts</h2>
      <p><a href="/">Home</a></p>
  </body>
  
</html>
